---
import Icon from "astro-icon";

export interface Props {
  platform: string;
  user: string;
  total: string;
  type: string;
  isIncreasing: boolean;
  today: number;
}

const { platform, user, total, type, isIncreasing, today } = Astro.props;
---

<div
  class="md:w-[min(100%,20rem)] w-full p-4 pb-5 space-y-6 text-center bg-card hover:bg-card-hover rounded overflow-hidden flex flex-col justify-center items-center relative cursor-pointer"
>
  <span
    class={`absolute top-0 left-0 block w-full h-1 ${platform}`}
    aria-hidden="true"></span>
  <div class="flex justify-center items-center gap-1.5 text-neutral-2 text-sm">
    <Icon name={`icon-${platform}`} size={16} />
    <a href="#">{user}</a>
  </div>
  <div>
    <p class="text-5xl font-bold mb-1">{total}</p>
    <p class="text-sm text-neutral-2 tracking-[0.2rem] uppercase opacity-90">
      {type}
    </p>
  </div>
  <div class="flex justify-center items-center gap-1.5 text-[0.75rem]">
    <Icon name={`icon-${isIncreasing ? "up" : "down"}`} size={12} />
    <span class={`${isIncreasing ? "text-positive" : "text-negative"}`}>
      {today} Today
    </span>
  </div>
</div>
